.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.paragraph{
  display: inline-block;
  width: 70px;
}
.div_comp{
  align-items: center;
display: inline-flex;
width: 15dvh;
background-color: rgb(231, 230, 230);
height: 30px; 
border-radius: 50px;
}
.button_cart{
  display: inline-block;
  border-radius: 50%;
  background-color: rgb(19, 19, 18);
  border-width: 0;
  font-size: 20px;
  color: whitesmoke;
}
.button_cart:hover{
  background-color: rgb(108, 108, 78);
}
/*===================================lab3_ans1=====================================================*/
.prod_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  padding-bottom: 1%;
  margin: 5%;
  display: inline-flex;
  font-family: arial;

}
.prod_desc{
  padding: 2px 16px;
}
.price {
  color: grey;
  font-size: 22px;
}
.prod_card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/*========================lab3_ans2======================================================*/
.form_data{
  display: inline-block;
  margin: 5%;
  width: 50px;
  align-items: left;
}
.reg_data{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  max-height: 600px;
  padding: 2%;
  margin: 5%;
  display: block;
  font-family: arial;
  align-items: center;
}
.reg_data:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.reg_data input{
align-content: center;
padding: 3%;
margin: 5%;
}
.reg_data label{
  float: left;
  padding: 3%;
  }
  .reg_data button{
    border: none;
    font-style: oblique;
  background-color: rgb(18, 18, 168);
  color: rgb(250, 250, 250);
  height: 40px;
  border-radius: 10px;
  }
  .reg_data button:hover{
    box-shadow: 0 8px 16px 0 rgba(61, 15, 133, 0.903);
  }

  